@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/*GENERAL RULES*/
* {
  box-sizing: border-box;
  font-family: Raleway;
}

body {
color: #666666;
background-image: url(Pictures/pexels-pixabay-220182.jpg);
background-position: center;
line-height: 1.4em;
margin: 0px;
}

.wrapper {
width: 940px;
margin: 20px auto 20px auto;
border: 2px solid #666666;
background-color: #f0eeee;;
}

/*HEADER*/
header {
text-indent: 100px;
height: 160px;
background-color: #f0eeee;
}

h1 {
color: black;
width: 940px;
height: 50px;
margin: 0px;
padding-top: 30px;
text-transform: uppercase;
}

/*NAVIGATION*/
nav {
color: #ffffff;
background-color:white;
height: 50px;
}

nav ul {
margin: 0px;
padding: 15px 0px 15px 0px;
}

nav li {
display: inline;
}

nav li a {
color: #000000;
font-weight: bold;
margin-right: 10px;
margin-left: 50px;
text-decoration:none;
}

nav li a:hover, nav li a.current {
color: grey
}

/*MAIN*/
img {
  width: 100%;
}

h4,h6 {
  text-transform: uppercase;
  }
  
article {
  display: flex;
  width:90%;
  margin:30px auto 0px;
  text-align: justify;
}

.right-article {
width:58%;
margin-left: 4%;
}

.left-article {
width:38%;
}

.logos {
  display: flex;
  flex-wrap:wrap;
  margin-top:30px;
  margin-bottom: 30px;
}

.logo {
  width:12%;
  margin-left:8%;
}

.left-site {
  font-size:12px;
}

/*FOOTER*/
footer {
  background-color: #7934f8;
  color:white;
  display:flex;
  justify-content: space-around;
}

p a {
 text-decoration: none;
 color: white;
}

p a:hover {
  color: grey
}

/* MEDIA */
@media  screen and (max-width: 823px) {
  header {
      display: flex;
      padding: 10px 10px 20px 5px;
      flex-direction: column;
  }
  footer{
      flex-wrap: wrap;
  }
  footer div{
      width:45%;
  }

}

@media screen and (max-width:480px) {
  header {
    display: flex;
    padding: 10px 10px 20px 5px;
    flex-direction: column;
  }

  h1{
    font-size: 16px;
    padding:10px 15px 10px 15px;
  }
  p{
    font-size: 7px;
    line-height: 13px;
   }
  nav ul{
    display: flex;
    flex-direction: column;
    article{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
   }
  h4{
      margin-top: 5px;
      font-size: 14px;
  }
  h6{
      font-size: 11px;
  }
  iframe{
    width:100px;
    height: 100px;
  }
  .right-article{
      font-size:11px;
  }
  .left-article{
      font-size:11px;
  }

  .right-site{
      width:100%;
      margin-left:0px;
  }
  .left-site{
      width:100%;
      margin:0px;
  }

  footer{
      flex-wrap: wrap;
      text-align: center;
  }
  footer div{
      width:100%;
  }

  
}